<!DOCTYPE html>
<html layout:decorator="layouts/main"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{user.edit.title}"></title>
</head>

<div layout:fragment="content">
    <form id="userForm" role="form" th:action="@{/user/update}" th:object="${user}" method="post">
        <div th:include="user/form" th:with="readOnly=${false},inEditMode=${true}"/>
        <div class="pull-right">
            <a class="btn btn-primary" th:href="@{/}" th:text="#{button.cancel}">Cancel</a>
            <input type="submit" class="btn btn-primary" th:value="#{button.save}"/>
        </div>
    </form>
</div>
</html>